// ----------------------------------------
// COLORS SETTINGS
// ----------------------------------------



$white:     #ffffff;

$black:     #000000;

// red
$red:           #d02138;
$red--rich:     #E42945;

// gray
$gray:          #9e9f9e;
$gray--dark:    #696969;
$gray--silver:  #F4F7F9;
$gray--middle:  #DBDBDB;
$gray--light:   #F5F7F7;


$color-input-default-border:		#E4E5E7;
$color-input-default-bg:			#F8FAFC;