@import "../../ui-kit/main.scss";


@mixin font-tab-label {
    @include font-base;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: $black;
}


.b-tab {

    position: relative;

    display: inline-block;
    height: 40px;
    padding: 8px 0;
    
    text-decoration: none;
    
    &:hover {
        text-decoration: none;

        .b-tab__slide {
            width: 100%;
            
            opacity: 1;
        }
    }


    &__label {
        @include font-tab-label;

        width: 100%;
    }

    &__slide {
        position: absolute;
        bottom: 0;

        display: block;
        
        width: 0;
        height: 4px;
        
        background: $gray--middle; 
        background: #5A394E;
        opacity: 0;
    }

    &--active{

        .b-tab__slide {
            width: 100%;
            
            opacity: 1;
        }
    }

    // Эффект при наведении и отвендении курсора на таб
    // Или по отделности на :hover и :not(:hover)
    .b-tab__slide {
        transition: 1.5s;
    }

}